<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>ABOUT</title>
</head>
<body>
    <div class="about-container">
    <h1>RuPaul</h1>
    <p class="about">Rupaul Andre Charles(born November 17, 1960), is an American drag queen, television judge, musician, and model.
    Best known for producing, hosting, and judging the reality competition series RuPaul's Drag Race, he has received several accolades, 
    including 12 Primetime Emmy Awards, three GLAAD Media Awards, a Critics' Choice Television Award, two Billboard Music Awards, and a Tony Award.</p>
    <a class="lnk"href="/home" style="text-decoration:none">Back to home page</a>
    </div>
</body>
</html>