<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>GALLERY</title>
</head>
<body>
    <div class="gallery-container">
    <h1>Gallery</h1>
    <div class="gallery">
        <img src="/images/RuPaulSuperModeloftheWorld.jpg" alt="Rupaul Super Model of the world" width="300" height="250">
        <div class="desc">RuPaul Supermodel of the World</div>
    </div>
    <div class="gallery">
        <img src="/images/RuPaulRedHot.jpeg" alt="Rupaul Red Hot" width="300" height="200">
        <div class="desc">RuPaul Red Hot</div>
    </div>
    <div class="gallery">
        <img src="/images/RuPauls-Drag-Race-S1.png" alt="RuPaul drag race s1" width="300" height="300">
        <div class="desc">RuPaul Drag Race season 1</div>
    </div>
    <div class="gallery">
        <img src="/images/RuPaulGlamazon.png" alt="RuPaul Glamazon" width="300" height="200">
        <div class="desc">RuPaul Glamazon</div>
    </div>
    <div class="gallery">
        <img src="/images/RuPaulBornNaked.jpg" alt="RuPaul Born Naked cover" width="300" height="250">
        <div class="desc">RuPaul Born Naked</div>
    </div>
    <div class="gallery">
        <img src="/images/RuPaulRealness.png" alt="RuPaul Realness" width="300" height="200">
        <div class="desc">RuPaul Realness</div>
    </div>
    <div class="gallery">
        <img src="/images/RuPaulGayForPlay.jpg" alt="RuPaul Gay for Play" width="300" height="200">
        <div class="desc">RuPaul Gay for play</div>
    </div>
    <div class="gallery">
        <img src="/images/RuPaulRememberMe.jpg" alt="RuPaul Remember Me" width="300" height="200">
        <div class="desc">RuPaul Remember Me</div>
    </div>
    <div class="gallery">
        <img src="/images/RuPaulUK.jpeg" alt="RuPaul's Drag Race UK" width="300" height="400">
        <div class="desc">RuPaul's Drag Race UK</div>
    </div>
    <a class="lnk" href="/home" style="text-decoration:none">Back to home page</a>
    </div>
</body>
</html>