<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>WORKS</title>
</head>
<body>
    <div class="done-container">
    <h1>What have I done?</h1>
    <ul>
        <a id="a" href="/gallery/" style="text-decoration:none"><li>1993-1997: Supermodel of the World, Foxy Lady, and Ho Ho Ho</li></a>
        <a id="a" href="/gallery" style="text-decoration:none"><li>2004-2007: Red Hot, ReWorked, and Starrbooty</li></a>
        <a id="a" href="/gallery" style="text-decoration:none"><li>2008-2010: RuPaul's Drag Race and Champion</li></a>
        <a id="a" href="/gallery" style="text-decoration:none"><li>2011-2013: Glamazon, make-up and perfume line</li></a>
        <a id="a" href="/gallery" style="text-decoration:none"><li>2014: Born Naked, What's The Tee?, and Skin Wars</li></a>
        <a id="a" href="/gallery" style="text-decoration:none"><li>2015: Realness, Good Work, and Slay Belles</li></a>
        <a id="a" href="/gallery" style="text-decoration:none"><li>2016: Gay for Play, Butch Queen, All Stars 2</li></a>
        <a id="a" href="/gallery" style="text-decoration:none"><li>2017-2018: Remember Me, American, return to VH1, and Essential, Vol. 2</li></a>
        <a id="a" href="/gallery" style="text-decoration:none"><li>2019-present: Drag Race UK, AJ and the Queen and further TV shows</li></a>
    </ul>
    <a class='lnk' style="text-decoration:none" href="/home">Back to home page</a>
    </div>
</body>
</html>